 <nav class="navbar navbar-expand-lg  bg-white mb-3 border-bottom box-shadow">
    <div class="container">
    <a class="navbar-brand text-dark" href="/">Account Opening Bot POC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mr-d-3" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home
                </a>
            </li>
            <li class="nav-item">
               <a class="btn btn-outline-primary wf-join-button" href="/signup">Sign up</a>
            </li>
        </ul>
    </div>
    </div>
</nav>